{% extends 'layout.html' %}

{% block content %}

<section class="container">

    <form role="form" action="/BZConfig" method="post" id="ConfigForm" >
        <h1>Server options</h1>
        <fieldset class="form-group">
            <legend>GAME STYLES</legend>
            <div  id="gameStyle" class="form-check">
                 <!-- showGameStyle -->
            </div>
        </fieldset>
        <div id="RandomMap">
            <!-- ShowRandomMap -->
        </div>
        <fieldset class="form-group">
            <legend>FLAG CONFIGURATION</legend>
            <h3> <p align="left">Flag selection</p></h3>
            <h4> <p align="left">Good Flags</p> </h4>
            <div  id="goodflags" class="form-check">
                <!-- showGoodFlags -->
            </div>
                <h4> <p align="left">Bad Flags</p> </h4>
            <div id="badflags" class="form-check">
                <!-- showBadFlags -->
            </div>
            <h3> <p align="left">Flag options</p></h3>
                <div id="GenFlagOpt">
                <!-- General flag option -->
                </div>
                <div id="ShotPerFlag">
                    <h4> <p align="left" >Limit the number of shots from a particular flag</p> </h4>  
                    <!-- # of shot per flag -->
                    <input type="button" value="Add flag shot limit" onClick="addFlagLimit('ShotLimitPerFlag');">
               </div>
                
        </fieldset>
   <input type="button" name="btn-submit" value="Run Server" id="submit-btn" onclick="return PrepareDataAndSubmit(this.form)"/>
</form>

</section>

<!-- Scripts inclusion -->
<script src="javascripts/Functions.js"   type="text/javascript"></script>
<script src="javascripts/buildGameStyle.js" type="text/javascript"></script>
<script src="javascripts/buildFlagList.js" type="text/javascript"></script>
<script src="javascripts/buildGenFlagOpt.js"  type="text/javascript"></script>
<script src="javascripts/buildRandomMap.js"  type="text/javascript"></script>

{% endblock %}