<!DOCTYPE html>
<html>
<head>
    <title>BZFlag helper</title>
    <meta charset="UTF-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/perso.css" rel="stylesheet" type="text/css">
</head>
<body>
 {% if redirecting %}
  <div id="redirecting">
   {{ RedirMessage }}
  </div>
 {% endif %}
<div class="container">
    <header class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/api">BZFlag Helper</a>
            </div>
            <div class="collapse navbar-collapse">
                {% include './include/nav.html' %}
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
</div>
</body>
</html>
